@import url('https://fonts.googleapis.com/css?family=Chewy|Source+Sans+Pro|ZCOOL+KuaiLe');
body{
    background-image: url("../bilder/rock-background.jpg")
}
.container{
    text-align: center;
    background-color: darkgray;
    width: 1300px;
    margin: auto;
}
header{

}
h1{
    padding-top: 25px;
    font-family: 'ZCOOL KuaiLe', cursive;
    font-size: 60px;
}
.logo{
    padding-top: 25px;
    font-family: 'ZCOOL KuaiLe', cursive;
}
h2{
    font-family: 'Chewy', cursive;
    font-size: 40px;
}
h3{
    font-family: 'Source Sans Pro', sans-serif;
}
.latest-news{
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 35px;
    text-align: left;
    margin-left: 30px;
}
p{
    font-family: 'Source Sans Pro', sans-serif;
}
nav{

}
ul{
    background-color: rgb(100, 9, 9);
    padding: 20px;
}
li{
    display: inline;
    padding: 10px;
    background-color: black;
    margin: 10px;
    border-radius: 10px;
}
a{
    text-decoration: none;
    color: white;
    font-family: 'Source Sans Pro', sans-serif;
}
tr:nth-child(even){
    background-color: black;
    color: white;
}
a:hover{
    color:darkred;
}
.aktiv{
    text-decoration: underline;
}
main{

}
.konsert{
    
}
.merch-troja{
    width: 150px;
}
.information{

}
.tickets{
    background-color: rgb(117, 121, 122);
}
/* .grid-container{
    display: grid;
    grid-template-columns: auto auto;
}
.grind-item{

}  */
a .link-merch{
    color: red;
}
.contact1{
    text-align: left;
}
.contact2{
    text-align: center;
}
.contact3{
    text-align: right;
}
table{
    margin: auto auto;
    font-family: 'Source Sans Pro', sans-serif;
    font-size: 20px;
    border-collapse: collapse;
}
th{
    padding: 10px;
}
td{
    padding: 20px;
}
.modell{
    height: 250px;
    margin: auto auto;
}
.om-oss{
    text-align: left;
}
footer{
    padding: 10px;
}
.banner{
    width: 100%;
}
/* Tabled Portrait */
@media (max-width: 615px) {
    .container{
        width: 100%;
    }
/*     main{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 3fr 1fr;
        justify-content: space-between;
    } */
}

@media (max-width: 850px) {

    .container{
        width: 100%;
    }
/*     main{
        display: grid;
        grid-gap: 20px;
        grid-template-columns: 1fr 0fr;
        justify-content: space-between;
        text-align: center;
    }  */
    table{
        font-size: 100%;
    }
    li{
        font-size: 100%;
    }
    h1{
        font-size: 200%;
    }
    a{
        font-size: 100%;
    }
}
